body {
  margin: 0;
  padding: 0;
  background-color: cornflowerblue
}

#header {
  text-align: right;
  padding: 20px 10px;
  background-color: white;

}


.navbar {
  background-color: white;
  float: right;
  text-align: center;
}



}
#form {
  
  width: 90px
  margin: auto
  padding: 30px 25px
  background-color: white
  border 1px solid gray
  border-radius: 5px
  box-shadow: 4px 4px 12px
  



